{% extends "principal.html" %}

{% block contenido %}
    {% block cabecera %}
    <h1>Usuarios no asignados a la tarea: {{ tarea.titulo|capfirst }}</h1> <!-- Filtro capfirst, este filtro convierte la primera letra del texto que le pasemos en mayúscula-->
    {% endblock %}
        <ol>
            {% for usuario in usuarios_no_asignados %}
                {% if not usuario.email or not usuario.nombre %}
                    <p>El usuario tiene información incompleta.</p>
                {% else %}
                    <p>Usuario: {{ usuario.nombre }} ({{ usuario.email }})</p>
                {% endif %}
            {% endfor %}
        </ol>
{% endblock %}