<html>
    <head></head>
    <body>
    <h1>Gestión de Tareas</h1>

    <h2>Listado de enlaces de proyectos</h2>
    <ul>
        <li><a href="{% url 'lista_proyectos' %}">Listado de proyectos</a></li>
    </ul><br>
    <h2>Listado de enlaces de tareas</h2>
    <ul>
        <li><a href="{% url 'lista_tarea_asignada' 2 %}">Listado de tareas del proyecto 31</a></li>
    </ul><br>
    <ul>
        <li><a href="{% url 'lista_tarea_texto' "price" %}">Listado de tareas con un texto concreto</a></li>
    </ul><br>
    <ul>
        <li><a href="{% url 'lista_tareas_completadas' 2005 2023 %}">Listado de tareas completadas entre 2005 y 2023</a></li>
    </ul><br>
    <ul>
        <li><a href="{% url 'comentarios_tarea' 2 "Environmental" 1993 %}">Todos los comentarios de una tarea concreta</a></li>
    </ul><br>
    <h2>Listado de enlaces de usuarios</h2>
    <ul>
        <li><a href="{% url 'lista_usuarios_asignados' 5 %}">Listado de usuarios asignados a la tarea 24</a></li>
    </ul><br>
    <ul>
        <li><a href="{% url 'ultimo_comentario_usuario' 2 5 %}">Último usuario en realizar un comentario</a></li>
    </ul><br>
    </body>
</html>