{% extends "principal.html" %}

{% block contenido %}
    {% block cabecera %}
        <h1>Comentarios de la tarea: {{ tarea.titulo }}</h1>
    {% endblock %}
    {% if comentarios and comentarios|length > 0 %}
        <h2>Comentarios encontrados que contengan la palabra "{{ palabra|lower }}" en el año {{ anio }}</h2> <!-- Filtro lower, convierte el texto en minúscula-->
    {% else %}
        <p>No se encontraron comentarios para esta búsqueda.</p>
    {% endif %}
    <ul>
        {% for comentario in comentarios %}
            {% include 'tarea/tarea.html' %}
        {% endfor %}
    </ul>
{% endblock %}