<!DOCTYPE html>
<html>
<head></head>
<body>

<h1>Comentarios de la tarea: {{ tarea.titulo }}</h1>
<h2>Filtrados por la palabra "{{ palabra }}" y del año {{ anio }}</h2>

<ul>
    {% for comentario in comentarios %}
        <li>
            <p><strong>Autor:</strong> {{ comentario.autor.nombre }}</p>
        </li>
        <li>
            <p><strong>Comentario:</strong> {{ comentario.contenido }}</p>
        </li>
        <li>
            <p><strong>Fecha:</strong> {{ comentario.fecha_comentario }}</p>
        </li>
    {% endfor %}
</ul>

</body>
</html>