{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<h2>Bienvenido a tu panel de proyectos</h2>

<!-- Menú principal -->
<nav class="menu-horizontal">
    <ul class="menu-items">
        <li><a href="{% url 'lista_proyectos' %}">Proyectos</a></li>
        <li><a href="{% url 'lista_etiquetas_tareas_proyecto' 12 %}">Etiqueta tarea 12</a></li>
        <li><a href="{% url 'lista_tarea_asignada' 12 %}">Tarea número 12</a></li>
        <li><a href="{% url 'lista_tarea_texto' 'change' %}">Tareas con texto 'change'</a></li>
        <li><a href="{% url 'lista_tareas_completadas' 2000 2024 %}">Tareas completadas</a></li>
        <li><a href="{% url 'comentarios_tarea' 15 'Especially' 2021 %}">Comentarios tarea concreta</a></li>
        <li><a href="{% url 'lista_usuarios_asignados' 12 %}">Usuarios asignados</a></li>
        <li><a href="{% url 'ultimo_comentario_usuario' 14 15 %}">Último comentario</a></li>
        <li><a href="{% url 'lista_usuarios_no_asignados' 7 %}">Usuarios sin tareas</a></li>
    </ul>
</nav>


<!-- - **Punto 1** cumplido: Este archivo contiene el menú de navegación superior con los links necesarios.-->